<div class="container pb-16">
  <!-- detail buttons -->
  <h1 class="border-gray-200 font-roboto text-gray-800 pt-5  font-medium text-center text-2xl md:text-3xl">
      About Us
  </h1>
  <!-- details button end -->

  <!-- details content -->
  <div class="pt-6">
      <div class=" text-gray-600">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
assumenda aliquid inventore nihil laboriosam odio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
assumenda aliquid inventore nihil laboriosam odio.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
assumenda aliquid inventore nihil laboriosam odio
          </p>

      </div>
      <h1 class="border-gray-200 font-roboto text-gray-800 pt-5 pb-2  font-medium  text-2xl md:text-3xl">
          Where does it come from?
      </h1>
      <div class=" text-gray-600">
          <p>
              Our Services comprise, generally business coaching Webinars, Seminars and materials distributed on a subscription basis. To enable payment, we collect and store name, address, telephone number, email address, credit card information, and other billing information. This information will only be shared with third parties who facilitate completion of the purchase transaction, such as by fulfilling orders and processing credit card payments. We will not disclose your billing and/or credit card information unless required by law or a court order, or unless disclosure is required to address an issue implicated by the financial transaction. For instance, if you claim that your billing and/or credit card information was used to make a purchase you did not authorize, details about the transaction may be disclosed to law enforcement and any party we deem necessary to address the matter.
          </p>

      </div>
  </div>
  <!-- details content end -->
</div>
