<div class="container pb-16">
  <!-- detail buttons -->
  <h1 class="border-gray-200 font-roboto text-gray-800 pt-5  font-medium text-center text-2xl md:text-3xl">
      About Us
  </h1>
  <!-- details button end -->

  <!-- details content -->
  <div class="pt-6">
      <div class=" text-gray-600">
          <p>
              {{about?.short_description}}
          </p>

      </div>
      <h1 class="border-gray-200 font-roboto text-gray-800 pt-5 pb-2  font-medium  text-2xl md:text-3xl">
          Where does it come from?
      </h1>
      <div class=" text-gray-600">
          <p>
             {{about?.long_description}}
          </p>

      </div>
  </div>
  <!-- details content end -->
</div>
