<div class="col-span-8 shadow rounded px-6 pt-5 pb-7 mt-6 lg:mt-0 block">
  <form [formGroup]="resToForm" (ngSubmit)="getPasswordUpdateData()">

    <div class="space-y-4">

      <div class="gap-4">
        <div><label class="text-gray-600 mb-2 block"> New Password
          </label><input type="password" (change)="matchPassword()"  class="input-box" formControlName="password"  >
          <div style="color: red;" *ngIf="inputControls.password.touched && inputControls.password.invalid">Enter your Password
          </div></div>
      </div>
      <div class="gap-4">
        <div><label class="text-gray-600 mb-2 block"> Confirm Password
          </label><input type="password" (change)="matchPassword()"  class="input-box" formControlName="confirmPassword" >
          <div style="color: red;"><span *ngIf="confirmPassword.hasError('mismatch')">Password do not match</span></div>

        </div>
      </div>

    </div>
    <div class=" px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"><button type="submit"
     class="px-6 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
        Update </button></div>
  </form>
</div>

